vagrant/.vagrant/machines/server1/virtualbox/action_provision
vagrant/.vagrant/machines/server1/virtualbox/action_set_name
vagrant/.vagrant/machines/server1/virtualbox/box_meta
vagrant/.vagrant/machines/server1/virtualbox/creator_uid
vagrant/.vagrant/machines/server1/virtualbox/id
vagrant/.vagrant/machines/server1/virtualbox/index_uuid
vagrant/.vagrant/machines/server1/virtualbox/private_key
vagrant/.vagrant/machines/server1/virtualbox/synced_folders
vagrant/.vagrant/machines/server1/virtualbox/vagrant_cwd
vagrant/.vagrant/machines/server2/virtualbox/action_provision
vagrant/.vagrant/machines/server2/virtualbox/action_set_name
vagrant/.vagrant/machines/server2/virtualbox/box_meta
vagrant/.vagrant/machines/server2/virtualbox/creator_uid
vagrant/.vagrant/machines/server2/virtualbox/id
vagrant/.vagrant/machines/server2/virtualbox/index_uuid
vagrant/.vagrant/machines/server2/virtualbox/private_key
vagrant/.vagrant/machines/server2/virtualbox/synced_folders
vagrant/.vagrant/machines/server2/virtualbox/vagrant_cwd
vagrant/.vagrant/rgloader/loader.rb
